



@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!DOCTYPE html>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Actions</th>
            </tr>
            <tbody class="tbody"></tbody>
        </table>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <lable>FirstName</lable>
            <input type="text" id="txtFirstName" class="form-control empty" />
            <input type="hidden" id="hdnId" class="form-control empty" />
        </div>
        <div class="form-group">
            <lable>LastEmail</lable>
            <input type="email" id="txtLastName" class="form-control empty" />
        </div>
        <div class="form-group">
            <button onclick="addUser()" id="btnAdd" class="btn btn-success">Add Data</button>
            <button onclick="editSaveUser()" id="btnEdit" class="btn btn-success">Save Edit Data</button>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script  language="JavaScript" type="text/javascript" >
    GetAllData();
    function GetAllData() {
        //$('#btnEdit').hide();
        //$('#btnAdd').show();
        $.ajax({
            url: 'http://localhost:32814/api/People',
            type: 'GET',
            crossDomain: true,
            contentType: "application/json",
            success: function (res) {
                $('.tbody').html('');
                var html = "";
                $.each(res, function (index, item) {
                    html += '<tr>';
                    html += '<td>' + item.FirstName + '</td>';
                    html += '<td>' + item.LastName + '</td>';
                    html += '<td><a href="#" onclick=editUser(' + item.ID + ')>Edit</a><a href="#" onclick=deleteUser(' + item.ID + ')>Delete</a></td>';
                    html += '</tr>';
                });
                $('.tbody').append(html);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function editUser(id) {
        $.ajax({
            url: 'http://localhost:32814/api/GetPerson',
            type: 'GET',
            crossDomain: true,
            contentType: "application/json",
            data: { 'id': id },
            success: function (res) {
                if (res != null) {
                    $('#txtFirstName').val(res.FirstName);
                    $('#txtLastName').val(res.LastName);
                    $('#hdnId').val(res.ID);
                }
                $('#btnEdit').show();
                $('#btnAdd').hide();
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function deleteUser(id) {
        $('#btnEdit').hide();
        $('#btnAdd').show();
        if (confirm("Are you sure, you want to delete the data?")) {
            $.ajax({
                url: 'http://localhost:32814/api/DeletePerson/' + id,
                type: 'DELETE',
                crossDomain: true,
                contentType: "application/json",
                success: function (res) {
                    if (res != null) {
                        GetAllData();
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }
    function addUser() {

        alert("addUser");
        debugger;
        var customers = {
            FirstName: $('#txtFirstName').val(),
            LastName: $('#txtLastName').val()
        };
        $.ajax({
            
            url: 'http://localhost:32814/api/PostPerson',
            type: 'POST',
            crossDomain: true,
            contentType: "application/json",
            data: customers,
            success: function (res) {
                if (res != null) {
                    GetAllData();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function editSaveUser() {
        var customers = {
            Id: $('#hdnId').val(),
            Name: $('#txtFirstName').val(),
            Email: $('#txtLastName').val()
        };
        $.ajax({
            
            url: 'http://localhost:32814/api/PutPerson',
            type: 'POST',
            crossDomain: true,
            contentType: "application/json",
            data: customers ,
            success: function (res) {
                $('#btnEdit').hide();
                $('#btnAdd').show();
                $('.empty').val('');
                if (res != null) {
                    GetAllData();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

</script>